<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image_id, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>

<table class="table">
    <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></tH>
    </tr>

    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>

    </tbody>
</table>

<div>
    edit
</div>

<h2>New book</h2>
<%= form_with model:book, local:true do |f| %>
<div>
  <div class="book_title">Title</div>
  <%= f.text_field :title, class: "col-xs-12" %>
</div>

<div>
  <div class="book_opinion">Opinion</div>
  <%= f.text_area :body, class: "col-xs-12" %>
</div>

<div class="btn btn-primary col-xs-12">
    <%= f.submit 'Create Book' %>
</div>

<% end %>