<h2>User info</h2>

<p>
  <%= notice %>
</p>

<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<table class="table">
    <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></tH>
    </tr>

    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>

    </tbody>
</table>

  <%= link_to edit_user_path(user.id), class: 'btn btn-default col-xs-12' do %>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>

<h4 class="new-book">New book</h4>
<%= form_with model:book, local:true do |f| %>
<div>
  <div class="book_title">Title</div>
  <%= f.text_field :title, class: "col-xs-12" %>
</div>

<div>
  <div class="book_opinion">Opinion</div>
  <%= f.text_area :body, class: "col-xs-12" %>
</div>

<div class="btn btn-primary col-xs-12">
    <%= f.submit 'Create Book' %>
</div>

<% end %>