<!DOCTYPE html>
<html>
  <head>
    <title>BookersAgain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <span>Bookers</span>
      </nav>

      <nav>
        <ul>
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "About", homes_about_path %></li>
          <li><%= link_to "sign up", new_user_session_path %></li>
          <li><%= link_to "login", new_user_registration_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
